main{
    display: flex;
    column-gap: 5vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.table{
    width: 450px;
    height: 450px;
}
td{
    border: solid 1px;
    border-collapse: collapse;
    transition: .4s;
    /* padding: 13px; */
}
td:hover{
    background-color: gray;
}
.selected{
    background-color: gray;
}

#numbers{
    width: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
}

.number{
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;
    background-color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border-radius: 5px;
    transition: .4s;
}

.number:hover{
    background-color: whitesmoke;
    color: black;
    border:1px solid  black;
}

header{
    background-image: url(/img/bg-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30vh;
    border: 1px solid black;
}
section{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding-left: 5%;
}
article{
    border: 1px solid white;
    border-radius: 5px;
    width: 20%;
    height: 70%;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    row-gap: 0vh; */
    background-color: rgba(255, 255, 255, .2);
}
h1{
    padding-left: 4%;
    font-size: 24px;
}
h2{
    padding-left: 4%;
    font-size: 26px;
    color: darkslategray;
}
nav > ul{
    display: flex;
    list-style-type: none;
    column-gap: 15vh;
    background-image: url(/img/bg-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    height: 7vh;
}
li{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5%;
    transition: .5s;
    font-size: 20px;
    text-decoration: none;
}
li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}




/* Styling for the Sudoku board */
#sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9,1fr);
    gap: 2px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
}
  
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border: 3px solid black;
    
    
}
  
.cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: none;
    outline: none;
    
}