*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    justify-content: center;
}
main{
    width: 100%;
    height: 100%;
}
/* .table{
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    border-spacing: unset;
}
td{
    border: solid 1px gray;
    border-collapse: collapse;
    transition: .4s;
    padding: 18px;
    font-weight: 800;
}
td:hover{
    background-color: gray;
}
tr:nth-child(3){
    border-bottom: 4px solid black;
}
tr:nth-child(6){
    border-bottom: 4px solid black;
}
td:nth-child(3){
    border-right: 4px solid black;
}
td:nth-child(6){
    border-right: 4px solid black;
}
.selected{
    background-color: gray;
} */

#numbers{
    height: 50px;
    width: 450px;
    display: flex;
}

.number{
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;
    background-color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    border-radius: 5px;
    transition: .4s;
}

.number:hover{
    background-color: whitesmoke;
    color: black;
    border:1px solid  black;
    cursor: pointer;
}

.numSelected{
    background-color: whitesmoke;
    color: black;
    border:1px solid  black;
}

header{
    background-image: url(/img/bg-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 30vh;
    width: 97%;
    border: 1px solid black;
}
section{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding-left: 5%;
}
article{
    border: 1px solid white;
    border-radius: 5px;
    width: 20%;
    height: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    background-color: rgba(255, 255, 255, .2);
}
h1{
    padding-left: 4%;
    font-size: 24px;
}
h2{
    font-size: 26px;
    color: darkslategray;
}
nav{
    width: 94%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    padding: 16px;
    background-image: url(/img/bg-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styling for the Sudoku board */
#sudoku-board {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    justify-content: center;
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
  
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border: 3px solid black;
}
  
.cell input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: none;
    outline: none;
    
}   




/* To take the arrows off */
.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* .box {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 3px solid black;
}

.box input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: whitesmoke;
}

.box input:hover{
    cursor: pointer;
} */


/* To take the arrows off
.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
} */

.error {
    color: red;
}